<div class="ui grid" id="community-page">
    <div class="row">
        <div class="sixteen wide column">
            <h5 class="ui header">TransparencyPH</h5>
            <div class="ui divider"></div>
            <div class="ui message">
                Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
            </div>
            <div class="ui secondary pointing two item menu">
                <a href="#" class="active item">Datasets</a>
                <a href="#" class="item">Members</a>
            </div>

			<div href='#' class="ui card link fluid">
			    <div class="content">
			    	<a href='#' class="header">Epidemiology of the Philippine Barangays</a>
			    	<div class="meta">by Je Marie Apolinario and Camille Razal</div>
			    	<div class="description">
			        	This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
			    	</div>
			    	<br><span class="meta">Tags:</span>
			      	<a class="tiny ui label">
			      		Epidemiology
					</a>
						<a class="tiny ui label">
			      		Barangays
					</a>
			    </div>
			</div>
			<div href='#' class="ui card link fluid">
			    <div class="content">
			    	<a href='#' class="header">Epidemiology of the Philippine Barangays</a>
			    	<div class="meta">by Je Marie Apolinario and Camille Razal</div>
			    	<div class="description">
			        	This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
			    	</div>
			    	<br><span class="meta">Tags:</span>
			      	<a class="tiny ui label">
			      		Epidemiology
					</a>
						<a class="tiny ui label">
			      		Barangays
					</a>
			    </div>
			</div>
			<div href='#' class="ui card link fluid">
			    <div class="content">
			    	<a href='#' class="header">Epidemiology of the Philippine Barangays</a>
			    	<div class="meta">by Je Marie Apolinario and Camille Razal</div>
			    	<div class="description">
			        	This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
			    	</div>
			    	<br><span class="meta">Tags:</span>
			      	<a class="tiny ui label">
			      		Epidemiology
					</a>
						<a class="tiny ui label">
			      		Barangays
					</a>
			    </div>
			</div>
        </div>
    </div>
</div>