<div class="ui basic grid segment" id="explore">
    <div class="two column row">
        <div class="column">
            <h2 class="ui header">Explore</h2>
        </div>
        <div class="column right aligned">
            <div class="ui search large">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Communities/Datasets">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui card link fluid">
                <div class="content">
			    	<a href='#' class="header">
                        <span class="ui tiny label category">DATASET</span> 
                        Epidemiology of the Philippine Barangays
                    </a> 
			    	<div class="meta">by Je Marie Apolinario and Camille Razal</div>
			    	<div class="description">
			        	This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
			    	</div>
                    
                    <div class="tiny blue right floated ui label">
                        Web Science Group
                    </div>
                </div>
            </div>
            <div class="ui cards two link">
                <div class="card">
                    <div class="content">
                    <a href='#' class="header">
                        <span class="ui tiny label category">COMMUNITY</span> 
                        transparency-ph
                    </a> 
                        <div class="description">
                            This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <a href='#' class="header">
                        <span class="ui tiny label category">DATASET</span> 
                        Epidemiology of the Philippine Barangays
                    </a> 
                        <div class="meta">by Je Marie Apolinario and Camille Razal</div>
                        <div class="description">
                            This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
                        </div><br>
                        <div class="tiny blue ui label">
                        Web Science Group
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <a href='#' class="header">
                        <span class="ui tiny label category">DATASET</span> 
                        Epidemiology of the Philippine Barangays
                    </a> 
                        <div class="meta">by Je Marie Apolinario and Camille Razal</div>
                        <div class="description">
                            This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
                        </div>
                        <div class="tiny blue right floated ui label">
                        Web Science Group
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <a href='#' class="header">
                        <span class="ui tiny label category">DATASET</span> 
                        Epidemiology of the Philippine Barangays
                    </a> 
                        <div class="meta">by Je Marie Apolinario and Camille Razal</div>
                        <div class="description">
                            This contains the epidemiology of the Philippine Barangays from years 2000-2015. This dataset is used for a Web Science undergraduate thesis using Quantum Geographical Information Systems for spatial data analysis.
                        </div>
                        <div class="tiny blue right floated ui label">
                        Web Science Group
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
