<div class="ui grid container middle aligned">
    <div class="three column row">
        <div class="column centered">
            <div class="ui segment" id="login">
                <div class="ui form">
                    <div class="field">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <button class="ui primary button centered" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>