<div class="ui basic segment">


    <h2 class="ui header">Create a Community</h2>
    <div class="ui divider"></div>
    <form action="post" class="ui form">

        <div class="field">
            <label>Name of Community:</label>
            <input type="text" name="name" placeholder="Name of Community">
        </div>
        <div class="field">
            <label>Description:</label>
            <textarea></textarea>
        </div>
        <div class="field">
            <label>Upload CSV File:</label>
            <input type="file" name="csv">
        </div>
        <button class="ui button primary">Submit Data</button>
    </form>
</div>