<div class="ui basic segment" id="new-dataset">
    <h2 class="ui header">Upload Dataset</h2>
    <div class="ui divider"></div>
    <form action="post" class="ui form">
        <div class="field">
            <label>Community</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="community">
                <i class="dropdown icon"></i>
                <div class="default text">Community</div>
                <div class="menu">
                    <div class="item" data-value="1">TransparencyPH</div>
                    <div class="item" data-value="0">medical-missions</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Name of Dataset:</label>
            <input type="text" name="name" placeholder="Name of Dataset">
        </div>
        <div class="field">
            <label>Documentation:</label>
            <textarea></textarea>
            <h6 class="ui header">*Markdown is supported</h6>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                <label>Make Dataset Private</label>
                <input type="checkbox" name="private" tabindex="0" class="hidden">
            </div>
        </div>
        <div class="field">
            <label>Upload CSV File:</label>
            <input type="file" name="csv">
        </div>
        <button class="ui button primary">Upload Dataset</button>
    </form>
</div>