<div class="ui grid">
    <div class="row">
        <div class="sixteen wide column">
            <h5 class="ui header">TransparencyPH</h5>
            <div class="ui divider"></div>
            <div class="ui secondary pointing two item menu">
                <a href="#" class="active item">Datasets</a>
                <a href="#" class="item">Members</a>
            </div>
        </div>
    </div>
</div>