<div class="ui container fluid" id="explore-featured">
    <div class="ui container basic segment">
        <div class="ui two cards link">
            <div class="card" style="height: 250px;"></div>
            <div class="card" style="height: 250px;"></div>
        </div>
    </div>
</div>
