<div class="ui fixed menu borderless" id="navbar">
    <div class="ui container">
        <a href="#" class="item">
            <img src="<%= asset_url('logo.png') %>" alt="logo">
        </a>
        <a href="#" class="item">Datasets</a>
        <div class="right menu">
            <% if true %>
            <div class="item">
                <div class="ui input">
                    <input type="email" placeholder="Email">
                </div>
            </div>
            <div class="item">
                <div class="ui input">
                    <input type="password" placeholder="Password">
                </div>
            </div>
            <div class="item">
                <button class="ui button primary">Login</button>
            </div>
            <% else %>
            <div class="item"><button class="ui button primary small"><i class="icon upload"></i>Upload Dataset</button></div>
            <div class="ui dropdown item">
                <img class="ui avatar image" src="https://api.adorable.io/avatars/285/user.png">
                <span> Je Marie <i class="icon down angle down"></i></span>
                <div class="menu">
                <a class="item">Logout</a>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>