<div class="ui menu" id="navbar">
    <div class="ui container">
        <a href="#" class="item">Logo</a>
        <a href="#" class="item">Datasets</a>

        <div class="right menu">
            <div class="item">
                <div class="ui transparent input">
                    <input type="email" placeholder="Email">
                </div>
            </div>
            <div class="item">
                <div class="ui transparent input">
                    <input type="password" placeholder="Password">
                </div>
            </div>
            <div class="item">
                <button class="ui button primary">Login</button>
            </div>
        </div>
    </div>
</div>