<div class="ui secondary vertical menu" id="sidebar">
    <div class="header item">COMMUNITIES</div>
    <a href="#" class="item">TransparencyPH</a>     
    <a href="#" class="item">medical-missions</a>     
</div>
<button class="ui button primary tiny">Create a community</button>