<div class="ui secondary vertical menu" id="sidebar">
    <div class="header item">COMMUNITIES</div>
    <% current_user.communities.each do |community| %>
    <%= link_to(community.name, community, class: 'item') %>  
    <% end %>
</div>
<button class="ui button primary tiny">Create a community</button>