<div class="ui secondary vertical menu" id="sidebar">
    <div class="header item">COMMUNITIES</div>
    <% current_user.communities.each do |community| %>
    <%= link_to(community.name, community, class: 'item') %>  
    <% end %>
</div>
<%= link_to 'Create a community', new_community_path, class: 'ui button primary tiny'%>