$gray-background: #E8EAEE;

body {
    background-color: $gray-background !important;
}

#navbar {
    margin-top: 0;
    z-index: 10;
    font-size: 16px;

    form {
        margin-bottom: -12px;
    }
}

.break {
    margin-bottom: 80px;
}

#dataset {
    .sub.header {
        font-size: 14px;
    }
}

#new-dataset {
    h6.ui.header {
        margin-top: 4px;
        color: #777;
    }
}

#explore-featured {
    background-color: #2F343A;
    margin-top: -5vh; 
    padding-top: 14vh;
    z-index: 0;
    margin-bottom: 32px;
    padding-bottom: 3vh;

    h2 {
        color: #fff;
    }
}

#community-page {
    margin-top: -2px;
}

#explore {
    margin-top: -8px;
    h2 {
        font-size: 40px;
    }

    .column {
        padding-bottom: 0;
    }

    .content {
        position: relative;
        .footer {
            // min-height: 150px;
            position: absolute;
            bottom: 2px;
        }
    }

    .ui.search {
        margin-bottom: 24px;
        font-size: 16px;
    }

    .category {
        margin-top: 0px;
    }

    // .cards {
    //     margin-top: -24px;
    // }
}

.ui.grid.middle.aligned {
    height: 100vh;
}
